.LikeBox {
  background-repeat: no-repeat;
  background-position: center right;
  height: 1000px !important;
}

.SavatchaBox {
  background-repeat: no-repeat;
  background-position: center right;
  height: 800px !important;
}

.callSms {
  position: absolute;
  right: 0;
}

.savatcha__h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #b0b7c3;
}

.savatcha__p {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #b0b7c3;
  mix-blend-mode: normal;
}
